<div class='main'>
  <section>
    <h3>Not authorized for this application.</h3>

    <p>Message was: <pre><%= @auth_error_message %></pre>
    <% if  @auth_error_message == 'invalid_scope' %>
      Did you add a row in the account_applications table on id.prx?
    <% end %>
    </p>

    <p>
      <a href="<%= sessions_path %>">Try logging in again</a>
    </p>
  </section>
</div>
