<div style="display:inline;">
  <%= form_for(:sessions, :url => PrxAuth::Rails::Engine.routes.url_helpers.sessions_path) do |f| %>
      <%= hidden_field_tag :access_token, '', id: 'access-token-field' %>
      <%= hidden_field_tag :id_token, '', id: 'id-token-field' %>
      <%= f.submit id: 'sessions-form-submit' %>
  <% end %>
</div>

<script type='application/javascript'>

  function parseURLFragment() {
    let hashParams = {};
    let e,
      a = /\+/g,  // Regex for replacing addition symbol with a space
      r = /([^&;=]+)=?([^&;]*)/g,
      d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
      q = window.location.hash.substring(1);

    while (e = r.exec(q))
      hashParams[d(e[1])] = d(e[2]);

    return hashParams;
  }

window.addEventListener("load", () => {
  var idToken = document.querySelector("#id-token-field");
  var accessToken = document.querySelector("#access-token-field");
  var submit = document.querySelector("input#sessions-form-submit[type=submit]");

  var hashParams = parseURLFragment();

  accessToken.value = hashParams['access_token'];
  idToken.value = hashParams['id_token'];

  submit.click();
});

</script>
